<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">

    <h1 class="display-3">New Password</h1>
    <p class="secret-text">Add Password</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="Enter Credential to be added">
      </div>
      <button type="submit"  class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
